<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geometry</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<main class="container">
    <article class="row mt-5">
        <section class="col-8">
            <img src="data:image/jpeg;base64,{{ img }}" alt="123">
        </section>
        <section class="col-4">
            <form class="geo-form" action="">
                <select class="form-select mb-5" name="figure" aria-label="Choose a figure">
                    <option selected disabled>Choose a figure</option>
                    {% for figure in figures %}
                        {% if figure==choose %}
                            <option value="{{ figure }}" selected>{{ figure }}</option>
                        {% else %}
                            <option value="{{ figure }}">{{ figure }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% for slot in slots %}
                    <label for="{{ slot }}" class="form-label mt-5">{{ slot }}</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                               id="{{ slot }}" name="{{ slot }}"
                               aria-describedby="radius"
                               value="{{ slots[slot] }}"
                        >
                    </div>
                {% endfor %}
                <button class="btn btn-primary">
                    Send
                </button>
                <dib>
                    {{ settings }}
                </dib>
            </form>
        </section>
    </article>
</main>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>