<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geometry</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<main class="container mt-2">
    <article class="row">
        <section class="col-8">
            <div class="text-center">
                <img src="data:image/jpeg;base64,{{ img }}" alt="{{ choose }}">
            </div>
            {% set summary_text = summary.split() %}
            <div class="text-center">
                <strong>{{ summary_text[0] }}</strong> {{ summary_text[1] }}
            </div>
        </section>
        <section class="col-4">
            <form class="geo-form" action="">
                <select class="form-select mb-3" name="figure" aria-label="Choose a figure">
                    <option selected disabled>Choose a figure</option>
                    {% for figure in figures %}
                        {% if figure==choose %}
                            {% set slc = "selected" %}
                        {% endif %}
                        <option value="{{ figure }}" {{ slc }}>{{ figure }}</option>
                    {% endfor %}
                </select>
                {% set desc = {'angle': '\u03B1'} %}
                {% for slot in slots %}
                    <label for="{{ slot }}" class="form-label mt-3">
                        {{ slot }} {{ desc.get(slot, '') }}
                    </label>
                    <div class="input-group mb-3">
                        <input
                                type="text" class="form-control"
                                id="{{ slot }}" name="{{ slot }}"
                                aria-describedby="{{ slot }}"
                                value="{{ slots[slot] }}"
                        >
                    </div>
                    {% if  errors[slot] %}
                        <div class="alert alert-danger py-1" role="alert">
                            {{ errors[slot] }}
                        </div>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-primary">
                    Send
                </button>
                <dib>
                    {{ settings }}
                </dib>
            </form>
        </section>
    </article>
</main>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>